.logo-3
  align-items: flex-end
  background-position: 50% 50%
  background-size: cover
  display: flex
  height: 157px
  justify-content: flex-end
  margin-left: 88px
  margin-top: 0
  min-width: 254px
  opacity: 0.3
  padding: 30.2px 56.6px

.combined-shape-2
  height: 96px
  object-fit: cover
  width: 140px

